@charset "utf-8";

/* Global Styles */

a:hover {

	color: rgba(255,255,255,1.00);

}

/*header*/

.body{
	background-color:#DFDFDF;
}

header {

	font-family: 'Montserrat', sans-serif;

	color: rgba(146,146,146,1.00);

	font-size: 16px;

	font-style: normal;

	font-weight: 400;

}

/* Logo placeholder*/

#logo {

	float: left;

	padding-top: 10px;

	padding-bottom: 10px;

	width: 139px;

	text-align: center;

	color: rgba(255,255,255,1.00);

	background-color: rgba(190,190,190,1.00);
	
	margin-bottom:10px;

}

/* div for Links in header */

#headerLinks {

	float: left;

	width: calc( 100% - 139px );

	text-align: right;

	padding-top: 10px;

	padding-bottom: 10px;

	background-color: rgba(255,255,255,1.00);

}

/* Links in header */

#headerLinks a {

	text-decoration: none;

	color: rgba(146,146,146,1.00);

	padding-left: 66px;

	font-size: 14px;

}

/* Offer text banner*/

#offer {

	font-family: 'Montserrat', sans-serif;

	clear: both;

	background-color: rgba(253,253,253,1.00);

	color: rgba(146,146,146,1.00);

	padding-left: 0px;

	padding-top: 0px;

	padding-bottom: 57px;
	

}

#offer2 {

	font-family: 'Montserrat', sans-serif;

	clear: both;

	background-color: rgba(253,253,253,1.00);

	color: rgba(146,146,146,1.00);

	padding-left: 0px;

	padding-top: 0px;

	padding-bottom: 57px;
	

}

#offer3 {

	
	font-family: 'Montserrat', sans-serif;

	clear: both;

	background-color: rgba(253,253,253,1.00);

	color: rgba(146,146,146,1.00);

	padding-left: 0px;

	padding-top: 0px;

	padding-bottom: 57px;
	
	overflow-x:hidden;
	

}

/* Main content of the site */

.div{
	border-top: 2px solid #ED3135;
	background-color:#F7F7F7;
	padding-bottom:1px;
}

#judul1{
	position:relative;
	top:5px;
	color: #3B3A3A;
	margin-top:10px;
	padding-left:20px;
}

#judul2{
	position:relative;
	top:5px;
	color: #3B3A3A;
	margin-top:10px;
	padding-left:20px;
}

#nama{
	margin-top:20px;
	margin-left:80px;	
}
#email{
	margin-left:80px;	
}

#hp{
	margin-left:80px;	
}

#nomor{
	margin-left:80px;
}


#namaC{
	position:relative;
	width:49%;
	margin-left:90px;
	height:20px;
	text-align:left;
	
}

#emailC{
	position:relative;
	margin-top:20px;
	width:49%;
	margin-left:106px;	
	height: 20px;
}

#hpC{
	position:relative;
	margin-top:20px;
	width:49%;
	margin-left:65px;
	height:20px;	
}

#nomorC{
	margin-top:20px;
	width:49%;
	margin-left:74px;
	height:20px;	
}

.load{
		position:relative;
		
		float:none;
		
		margin-top:20px;
		
		left:660px;
		
		width:90px;
		
		height:35px;
		
		color:#F5F5F5;
}

.submit{
		position:relative;
		
		float:none;
		
		margin-top:20px;
		
		left:660px;
		
		width:90px;
		
		height:35px;
		
		color:#F5F5F5;
}

.batal{
		position:relative;
		
		float:none;
		
		margin-top:20px;
		
		left:660px;
		
		width:90px;
		
		height:35px;
		
		color:#F5F5F5;
}

/*RED BUTTON STYLES*/		
.load{background-color: #ea4f37; border-color: #ea4f37; -webkit-box-shadow: 0 3px 0 #b13825; box-shadow: 0 3px 0 #b13825;}
.load:hover{background-color:#a53422;}
.load:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

#content {

	clear: both;

	overflow: auto;

	padding-top: 29px;

}

.formtable{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
}

#biaya{
	margin-left:30px;
}

#biayaC{
	margin-top:20px;
	width:25%;
	margin-left:20px;
	height:20px;	
}

#textarea1{
	margin-top:20px;
	margin-left:30px;
	height:200px;
	width:350px;	
}

#keterangan{
	position:relative;
	
	margin-top:10px;
	margin-bottom:0px;	
	left:30px;
}

#ketgbr{
	position:relative;
	margin-left:430px;
	top:10px;
	bottom:5px;
	float:none;
	margin-top:-30px;	
}

#gbr3{
	position:relative;
	
	left:42px;
}

#kolom{
	position: relative;
	top:10px;
	font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', 		Helvetica, Arial, sans-serif;
	display:inline-flex;
	margin-left:200px;
}

#kolom2{
font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', 		Helvetica, Arial, sans-serif;
display:inline-flex;
margin-left:200px;
	
}

#bank{
	position:relative;
	right: 110px;	
}

#norek{
	position: relative;
	left:50px;	
}


#kolom2{
	position: relative;
	top:40px;
}

#cabang{
	position:relative;
	right: 110px;	
}

 #norek2{
	position:relative;
	left:50px;	
}

/*RED BUTTON STYLES*/		
.submit{background-color: #ea4f37; border-color: #ea4f37; -webkit-box-shadow: 0 3px 0 #b13825; box-shadow: 0 3px 0 #b13825;}
.submit:hover{background-color:#a53422;}
.submit:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*GREY BUTTON STYLES*/		
.batal{background-color: #ACACAC; border-color: #ACACAC; -webkit-box-shadow: 0 3px 0 #626160; box-shadow: 0 3px 0 #626160;}
.batal:hover{background-color:#6F6E6E;}
.batal:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

#button2{
	position:relative;
	top:50px;
	margin-bottom:30px;
	right:90px;
}


/* Sidebar */

#content .sidebar {

	font-family: 'Montserrat', sans-serif;

	color: rgba(146,146,146,1.00);

	float: left;

	width: 20%;

	padding-left: 3%;

	padding-right: 3%;

	text-align: center;

	background-color: rgba(246,246,246,1.00);

	padding-top: 36px;

	height: 784px;

}


/*menubar's properties for menus in sidebar */

#content .sidebar #menubar {

	text-align: left;

	color: rgba(146,146,146,1.00);

	position: relative;

	left: 0%;

}

/* Search field in sidebar */

#content .sidebar #search {

	width: 100%;

	border-radius: 0px;

	height: 42px;

	text-align: center;

	color: rgba(208,207,207,1.00);

	font-size: 14px;

	;

	margin-bottom: 21px;

}

/* Whole page content */

#mainWrapper {

	width: 60%;

	padding-left: 20%;
	

}

/*menu elements */

.menu ul li {

	list-style-type: none;

	font-size: x-large;

	position: relative;

	left: -35px;

	padding-top: 12px;

}




/* footer */

#mainWrapper footer {

	clear: both;

	overflow: auto;

	background-color: rgba(208,207,207,1.00);

	font-family: source-sans-pro, sans-serif;

	font-style: normal;

	font-weight: 200;

	line-height: 1.8;

	padding-top: 22px;

	padding-left: 22px;

	text-align: center;

	padding-bottom: 22px;

	padding-right: 22px;

}

/*Each footer content */

#mainWrapper footer div {

	width: 27%;

	float: left;

	padding-left: 4%;

	padding-right: 2%;

	color: rgba(255,255,255,1.00);

	text-align: justify;

}

/* Links in footer */

footer div a {

	color: rgba(146,146,146,1.00);

	display: block;

	text-decoration: none;

	text-align: center;

}

/* Product's images in catalog */

.productInfo div img {

	width: 100%;

}

/*Links in sidebar */

.sidebar #menubar .menu ul li a {

	color: rgba(146,146,146,1.00);

	text-decoration: none;

}

.sidebar #menubar .menu ul li a:hover {

	color: rgba(107,97,97,1.00);

	text-decoration: none;

}

/* Menu headings in sidebar */

#menubar .menu h2 {

	font-size: 14px;

}

/*Links under menus in sidebar */

#menubar .menu ul li a {

	font-size: 14px;

}

/* Menus in sidebar */

.sidebar #menubar .menu {

	margin-bottom: 29px;

}

/* Container for links in footer */

footer .footerlinks {

	margin-top: -15px;

}





/* Media query for tablets */

@media screen and (max-width:700px) {

/* search field in sidebar */

#mainWrapper{
 width: 80%;
 padding-left:55px;	
}

#content .sidebar #search {

	display: none;

}

/* sidebar */

#content .sidebar {

	float: none;

	width: 100%;

	height: auto;

	overflow: auto;

	padding-left: 12%;

	padding-top: 0px;

}

/* horizontal separators in sidebar */

#content .sidebar hr {

	display: none;

}

.div{
	width:100%;	
	
	margin-left: -117px;
	
	padding-left:117px;
}

#judul1{
	padding:inherit;
}

#nama{
	position:relative;
	margin:center;	
}

#namaC {
	width:120%;
	position:relative;
	top:0px;
	right:235px;
}

#email{
	position:relative;
	margin-top:20px;
	margin:center;	
}

#emailC {
	width:120%;
	position:relative;
	top:-15px;
	right:250px;
}

#hp{
	position:relative;
	margin-top:10px;
	margin:center;	
}

#hpC {
	width:120%;
	position:relative;
	top:-15px;
	right:200px;
}

#nomor{
	position:relative;
	margin-top:10px;
	margin:center;	
}

#nomorC {
	width:120%;
	position:relative;
	top:-15px;
	right:200px;
}

.load{
	position:relative;
	margin-top:1px;
	left:-47px;
	width:395px;	
}

#kolom{
	display: block;
}

#norek{
	position:relative;
	left:-110px;
}

#kolom2{
	display: block;
	top:20px;
}


#norek2{
	position:relative;
	left:-110px;
}

.batal{
	position:relative;
	left:160px;
}

.submit{
	position:relative;
	left:160px;
}


/*The sidebar and maincontent of page */

#content {

	position: relative;

	top: -22px;

	width: 100%;

	overflow: hidden;

}

/*menu headings in sidebar */

#menubar .menu h2 {

	display: inline;

	font-size: medium;

	padding-right: 6%;

}

/* Unordered List of links */

#menubar .menu ul {

	display: inline;

}

/*list elements */

#menubar .menu ul li {

	display: inline;

	font-size: medium;

	padding-left: 0%;

	padding-right: 3%;

}

/*The link to be hidden in tablet view */

.sidebar #menubar .menu ul .notimp {

	display: none;

}

/* menus in sidebar */

.sidebar #menubar .menu {

	width: 100%;

	text-align: center;

	position: relative;

	top: 16px;

}

/*menubar in sidebar */

#content .sidebar #menubar {

	position: relative;

	left: -7%;

	overflow: hidden;

	width: 95%;

	padding-top: 0px;

}

/* offer banners content */

#mainWrapper #offer p {

	font-size: small;

}

#mainWrapper #offer2 p {

	font-size: small;

}

#mainWrapper #offer3 p {

	font-size: small;

}

/* main content region of page */

#mainWrapper #content .mainContent {

	overflow: hidden;

	width: 95%;

	margin-top: 40px;

}

/* Prices of products in catalog view */

.productRow .productInfo .price {

	font-size: 19px;

}

/* Content holders in catalog view */

.productRow .productInfo .productContent {

	font-size: 16px;

}

/* Buy buttons in catalog view */

.productRow .productInfo .buyButton {

	font-size: 15px;

}

/* Container for links in footer */

#mainWrapper footer .footerlinks {

	float: none;

	width: 100%;

	position: relative;

	top: 17px;

	clear: both;

	text-align: center;

	left: 0%;

	padding-bottom: 19px;

}

/* Container for each footer divisions */

#mainWrapper footer div {

	width: 44%;

	text-align: justify;

	font-size: 15px;

}

/* Links in footer */

.footerlinks p a {

	padding-top: 0px;

	padding-bottom: 0px;

	display: inline;

	padding-right: 35px;

}

/* Footer region */

#mainWrapper footer {

	padding-left: 16px;

	overflow: hidden;

}

/* Links in header */

header #headerLinks a {

	padding-left: 0px;

	padding-right: 30px;

}

/* Offer- Text banner */

#mainWrapper #offer {

	padding-left: 22%;

}

#mainWrapper #offer2 {

	padding-left: 22%;

}

#mainWrapper #offer3 {

	padding-left: 22%;

}

/* Paragraphs in footer */

footer .footerlinks p {

	display: inline;

}

}



/*media query for small screen devices */

@media screen and (max-width:480px) {

/*Container for links in header */

#mainWrapper header #headerLinks {

	width: 100%;

	text-align: center;

	background-color: rgba(190,190,190,1.00);

	padding-bottom: 21px;

}

/* Logo placeholder*/

#mainWrapper header #logo{

	width: 100%;

	text-align: center;
}


/* Links in header */

header #headerLinks a {

	text-align: center;

	padding-right: 15px;

	padding-left: 0px;

}

/*Offer - Text Banner */

#mainWrapper #offer {

	padding-left: 0px;

	text-align: center;

}

#mainWrapper #offer2 {

	padding-left: 0px;

	text-align: center;

}

#mainWrapper #offer3 {

	padding-left: 0px;

	text-align: center;

}

.div{
	margin-left:0px;
	padding-left:2px;	
}

#namaC{

	width:107%;

	text-align: left;
	
	left:-130px;

}

#emailC{

	width:107%;

	text-align: left;
	
	left:-147px;

}

#hpC{

	width:107%;

	text-align: left;
	
	left:-97px;

}

#nomorC{

	width:107%;

	text-align: left;
	
	left:-120px;

}

.load{
	
	position:relative;
	float:none;
	margin-left:82px;
	left:-45px;
	width:82%;
	
	
}



/* Menubar in sidebar */

#content .sidebar #menubar {

	position: relative;

	left: -8%;

	text-align: center;

}

/*Menu headings in sidebar */

#menubar .menu h2 {

	width: 100%;

	display: block;

}

/* Each product in catalog view */

.mainContent .productRow .productInfo {

	width: 100%;

	display: block;

	padding-left: 0px;

	padding-right: 0px;

	position: relative;

	left: -2%;

}

#mainWrapper footer div {

	width: 100%;

	margin-left: -16px;

	text-align: justify;

	padding-bottom: 16px;

	overflow: auto;

}

/* Unordered list for menu elements */

.menu ul {

	position: relative;

	padding-left: 24%;

}

/* Container for links in footer */

#mainWrapper footer .footerlinks {

	padding-left: 8%;

}





/* Main content which excludes the sidebar */

#mainwrapper #content .mainContent {

	margin-top: -81px;

	text-align: center;

	width: 100%;

	padding-left: 0px;

}



}

.body {
}
